<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="expires" content="0">
<meta http-equiv="Cache-Control">
<meta http-equiv="Pragma" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Productos</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
	<header>
		<nav class="navbar">
			<ul class="d-flex row evenly">
				<li><a href="/" rel="noopener noreferrer">Home</a></li>
				<li><a href="/productos-para-comprar" rel="noopener noreferrer">Productos</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="d-flex column center bienvenido">
			<h1>Productos</h1>
			
			<article class="card d-flex column center">
				<img th:src="@{/img/producto.png}" alt="Producto IT"
					class="product-card" />
					<h4>
						Producto de Alta Calidad
					</h4>
				<button class="btn" type="submit" id="comprar-btn">Comprar</button>
			</article>
		</section>
	</main>
	
</body>
</html>
